

{
	"blocks": [
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": "telemetry probe expiry:  firefox-android :firefox: \n"
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*ALREADY EXPIRED* :traffic-red:"
			}
		},
                ##### ALREADY_EXPIRED ##### 
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*EXPIRING SOON* :traffic-yellow:"
			}
		},
                ##### EXPIRING_SOON ##### 
		{
			"type": "divider"
		},
		{
			"type": "context",
			"elements": [
                            {
                                "type": "mrkdwn", 
                                "text": ":testops-notify: created by <https://mozilla-hub.atlassian.net/wiki/spaces/MTE/overview|Mobile Test Engineering>"
                            }
                        ] 

		}
	]
}
